@import "main";

/* section-5 Facts starts*/
#facts-sec {
   width: 100%;
   height: 600px;
   margin-top: 70px;
   .container {
      margin: auto;
      width: 90%;
      max-width: 1200px;
      .row {
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         .right {
            grid-column: span 6;
            margin: 30px;
            padding: 15px;
            position: relative;
            .img-container {
               position: relative;
               filter: drop-shadow(5px 5px 10px #71717180);
               img {
                  width: 100%;
               }
            }

            #dots {
               position: absolute;
               right: -20px;
               bottom: -10px;
            }
         }

         .left {
            grid-column: span 6;
            margin: 30px;
            padding: 15px;
            padding-right: 50px;
            .facts-sec_content {
               .facts-sec_title {
                  h3 {
                     font-size: 35px;
                     font-weight: bold;
                     position: relative;
                     margin-top: 15px;
                     color: $text-black;
                     &::before {
                        content: "";
                        display: block;
                        width: 150px;
                        height: 5px;
                        position: absolute;
                        top: -15px;
                        background: $bg-pink-gradient;
                     }
                     span {
                        font-size: 32px;
                        font-weight: lighter;
                     }
                  }
               }

               .facts-sec_text {
                  margin: 35px 0;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 30px;
                  color: $text-gray;
               }
            }

            .counter-container {
               display: grid;
               grid-template-columns: repeat(12, 1fr);
               gap: 40px;
               .box {
                  grid-column: span 4;
                  border-radius: 70px;
                  height: 170px;
                  display: grid;
                  place-content: center;
                  background: $bg-green-gradient;
                  transform: rotate(-45deg);
                  .counter-item {
                     text-align: center;
                     transform: rotate(45deg);
                     .counter {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 25px;
                        font-weight: bold;
                        color: $text-white;
                     }
                     .counter-title {
                        font-size: 18px;
                        font-weight: normal;
                        color: $text-white;
                     }
                  }
               }
               .box2 {
                  background: $bg-pink-gradient;
               }
               .box3 {
                  background: $bg-blue-gradient;
               }
            }
         }
      }
   }
}
/* section-5 Facts ends*/
